@font-face {
  font-family: "Gilroy_Thin";
  src: url(../assets/fonts/Gilroy-Thin.ttf);
}
@font-face {
  font-family: "Gilroy_Regular";
  src: url(../assets/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy_Medium";
  src: url(../assets/fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy_Semibold";
  src: url(../assets/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy_Bold";
  src: url(../assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy_Black";
  src: url(../assets/fonts/Gilroy-Black.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");

:root {
  /* //font family */
  --font-gilroy-thin: "Gilroy_Thin", sans-serif;

  --font-gilroy-regular: "Gilroy_Regular", sans-serif;
  --font-gilroy-medium: "Gilroy_Medium", sans-serif;
  --font-gilroy-semibold: "Gilroy_Semibold", sans-serif;
  --font-gilroy-bold: "Gilroy_Bold", sans-serif;
  --font-gilroy-black: "Gilroy_Black", sans-serif;
  /* //font size */
  --heading-1: 28px;
  --heading-2: 22px;
  --big-text: 18px;
  --normal-text: 16px;
  --small-text: 14px;
  /* //colors */
  --pc-blue: #222057;
  --pc-black: #232323;
  --pc-orange: #f8991d;
  --pc-light-gray: #939393;
  --pc-dark-gray: #323232;
  --pc-white-white: #ffffff;
  --pc-bg: #f5f6fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--pc-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main section:first-of-type {
  width: 25vw;
  background-color: var(--pc-white-white);
  border-right: 1px solid #32323228;
  font-family: var(--font-gilroy-regular);
}
main section:first-of-type .logo {
  padding: 35px;
  margin-bottom: 3rem;
}
main section:first-of-type img {
  width: 100%;
}
main section:last-of-type {
  width: 100vw;
}
.dashboard_main {
  width: 100%;
}
/* Dashboardbody */
.dashboard_body {
  padding: 35px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  position: relative;
}
main section:last-of-type .header {
  height: 70px;
  width: 100%;
  padding: 29.5px;
  background-color: var(--pc-white-white);
  border-bottom: 1px solid #32323228;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-item {
  font-size: var(--big-text);
  color: var(--pc-dark-gray);
  font-family: var(--font-gilroy-regular);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 18px 35px;
  margin-bottom: 25px;
  width: 100%;
  position: relative;
}
.nav-item i {
  font-size: 25px;
}
.nav-item.active {
  font-family: var(--font-gilroy-medium);
  color: var(--pc-orange);
  background-color: var(--pc-bg);
}
.nav-item.active .nav_item_line {
  height: 65%;
  background-color: var(--pc-orange);
  width: 6px;
  position: absolute;
  left: 0;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}
.profile_nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile_nav i {
  font-size: 28px;
  color: var(--pc-orange);
}
.profile_nav .bxs-bell {
  color: var(--pc-black);
}
.notif {
  position: relative;
}
.notif span {
  position: absolute;
  background-color: #f82a1d;
  color: #fff;
  right: 0px;
  top: 0;
  border: 1px solid var(--pc-white-white);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.search {
  position: relative;
}
.search input {
  width: 350px;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: var(--pc-bg);
  border: 1px solid #2220574e;
  outline: none;
}
.search input::placeholder {
  font-size: var(--small-text);
  color: #898989;
}
.bx-search {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 18px;
  color: #898989;
}
.user_details_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_details_container .bx-chevron-down {
  font-size: 30px;
  color: var(--pc-black);
  cursor: pointer;
}
.user_details {
  display: flex;
  flex-direction: column;
}
.profile_name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user_name {
  font-size: var(--normal-text);
}
.student_id {
  font-size: var(--small-text);
}
.initials {
  font-size: var(--small-text);
  color: var(--pc-white-white);
  background-color: var(--pc-blue);
  padding: 9px;
  border-radius: 50%;
  border: 5px solid var(--pc-bg);
}

.cards {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
.card {
  background-color: var(--pc-white-white);
  width: 50%;
  height: 140px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 18px;
  padding: 35px;
}
.card > div h3 {
  font-family: var(--font-gilroy-medium);
  font-size: var(--heading-2);
  color: var(--pc-black);
  font-weight: 600;
}
.card > div p {
  font-size: var(--big-text);
  font-family: var(--font-gilroy-regular);
  font-weight: 200;
  color: var(--pc-dark-gray);
  margin-top: 5px;
  text-shadow: 0px 0px 1px var(--pc-light-gray);
}
.card > div p span {
  color: var(--pc-orange);
  font-size: var(--big-text);
}
.card i {
  font-size: 35px;
  padding: 15px;
  border-radius: 50%;
}
.bxs-wallet {
  color: var(--pc-blue);
  background-color: #2220572b;
}
.bx-book-content {
  color: var(--pc-orange);
  background-color: #f8991d2b;
}
.filter_buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 35px 35px 0px 35px;
  background-color: var(--pc-white-white);
  margin-top: 35px;
  gap: 25px;
}
.filter_buttons button {
  font-family: var(--font-gilroy-regular);
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--normal-text);
  color: var(--pc-blue);
  width: 106px;
  padding: 5px 8px;
  cursor: pointer;
}
.filter_buttons button.active {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--normal-text);
  color: var(--pc-orange);
  width: 106px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 3px solid var(--pc-orange);
}
.course_cards {
  background-color: var(--pc-white-white);
  margin-top: 35px;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 35px;
}
.course_card {
  padding: 22px;
  background-color: var(--pc-bg);
  height: max-content;
  width: 323px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
}
.course_certificate_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.course_card_certificate {
  padding: 12px 12px;
  background-color: var(--pc-bg);
  height: 195px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  border-radius: 15px;
}
.course_card_certificate img {
  width: max-content;
  height: max-content;
}
.course_card_certificate > div {
  width: max-content;
}
.course_card_certificate > div h3 {
  font-family: var(--font-gilroy-medium);
  font-size: var(--heading-2);
  color: var(--pc-blue);
}
.course_card_certificate > div p {
  font-family: var(--font-gilroy-regular);
  font-size: var(--small-text);
  color: var(--pc-dark-gray);
  margin-bottom: 35px;
}
.course_card_certificate button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: var(--small-text);
  font-family: var(--font-gilroy-medium);
  color: var(--pc-blue);
  width: 152px;
  height: 32px;
  cursor: pointer;
}
.course_card_certificate .view {
  align-self: end;
  margin-bottom: 31px;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  font-size: var(--normal-text);
  color: var(--pc-orange);
}
.view_certificate_modal {
  position: absolute;
  width: 100%;
  height: max-content;
  top: 50%;
  left: 50%;
  background-color: var(--pc-dark-gray);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px var(--pc-light-gray);
  background-color: #32323245;
  padding-bottom: 5%;
  display: none;
}
.view_certificate_modal_container {
  background-color: var(--pc-white-white);
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 25%;
  padding: 3rem;
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 32px;
}
.view_certificate_modal_details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.view_certificate_modal_details img {
  width: 100%;
}
.view_certificate_modal_details span {
  margin-top: 25px;
  font-family: var(--font-gilroy-medium);
  font-size: 24px;
  color: var(--pc-blue);
  margin-bottom: 8px;
}
.view_certificate_modal_details small {
  font-size: var(--small-text);
  color: var(--pc-black);
}
.view_certificate_modal_details p {
  width: 80%;
  margin-top: 8px;
}
.view_certificate_modal_details button {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: var(--small-text);
  font-family: var(--font-gilroy-medium);
  color: var(--pc-blue);
  width: 152px;
  height: 32px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--pc-blue);
  border-radius: 8px;
}
.course_card img {
  width: 100%;
}
.view_certificate_modal_container .bx-x {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 41px;
  font-weight: lighter;
  background-color: var(--pc-blue);
  border-radius: 50%;
  color: var(--pc-white-white);
  cursor: pointer;
  padding: 0;
}
.course_card div > span {
  font-family: "Inter", sans-serif;
  color: var(--pc-blue);
  font-weight: 700;
  font-size: var(--big-text);
}
.course_card > div > p {
  margin-top: 15px;
  line-height: 1.4;
  font-family: var(--font-gilroy-regular);
  font-size: var(--small-text);
  color: var(--pc-dark-gray);
}
.course_card a {
  background-color: transparent;
  color: var(--pc-orange);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: var(--normal-text);
  outline: none;
  border: none;
  cursor: pointer;
}
.course_card a span {
  font-weight: 900;
}
.toggle_profile_container {
  padding: 20px;
  background-color: var(--pc-white-white);
  width: 189px;
  height: 110px;
  position: absolute;
  top: 80px;
  right: 30px;
  z-index: 3;
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
  box-shadow: 0px 1px 5px #32323251;
  display: none;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.toggle-item {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: var(--big-text);
}
.toggle-item i {
  color: var(--pc-dark-gray);
}
.community__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  margin-bottom: 35px;
}
.community__ a {
  font-size: var(--big-text);
  font-weight: 500;
  color: var(--pc-dark-gray);
  font-size: var(--small-text);
}
.community__ button {
  height: 38px;
  width: 300px;
  background: var(--pc-orange);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  outline: none;
  font-family: var(--font-gilroy-regular);
  font-weight: 500;
  font-size: var(--small-text);
  color: var(--pc-white-white);
  cursor: pointer;
}
.course_page_details {
  background: var(--pc-white-white);
  padding: 35px;
}
.course_page_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course_page_details h3 {
  font-family: var(--font-gilroy-medium);
  color: var(--pc-blue);
  font-size: var(--heading-1);
}
.course_page_search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.course_page_search input {
  width: 300px;
  height: 38px;
  background-color: var(--pc-bg);
  border: none;
  outline: none;
  padding: 0px 15px;
  font-size: var(--small-text);
  color: var(--pc-dark-gray);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.course_page_search input::placeholder {
  font-family: var(--font-gilroy-regular);
  font-size: var(--small-text);
}
.course_page_search button {
  height: 38px;
  width: 86px;
  background: var(--pc-blue);
  border: none;
  outline: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: var(--font-gilroy-regular);
  font-size: var(--small-text);
  color: var(--pc-white-white);
  cursor: pointer;
}
.course_page_filters {
  background: var(--pc-bg);
  margin-top: 35px;
  padding: 35px 35px 0px 35px;
  border-radius: 8px;
  display: flex;
  gap: 18px;
}
.course_page_filters button {
  color: var(--pc-blue);
  background-color: transparent;
  outline: none;
  border: none;
  font-family: var(--font-gilroy-regular);
  font-size: var(--normal-text);
  cursor: pointer;
  padding-bottom: 10px;
}
